*{
  text-decoration: none;
  list-style-type:none;
}

nav{
  background-color: #333;

  
}
nav ul{
  
  display:inline-flex
}
nav ul li{
 
  margin-left: 20px ;
}
nav li a{
  color:black;
 

}


  footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    width: 100%;
    bottom: 0;
  }

.content{
 
  justify-content: center;
  padding: 20px;
  background-color: #b3b2b2;
  margin: 0 auto;
  width: 80%;
  height: 100vh;
 
  
}