* {

  list-style-type: none;
}
a{
    text-decoration: none;
}

.navbar a{
    color:black;

}

 .car1 img, .car2 img{
  /* background-color: #160e0e; */
  width:100vw ;
  height:100vh;
}

.car1text{
 position:absolute;
 top:240px;
 left:40px;
 color:white;
 font-size:40px auto ;
}

/* #login{
  position:absolute;
  top:70px;
  right:20px;
} */